<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.0.xsd
           http://www.springframework.org/schema/mvc
      	   http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">
    <!--  	
    <bean id="templateResolver1" class="org.thymeleaf.templateresolver.ServletContextTemplateResolver">
		<property name="templateMode" value="XHTML" />
		<property name="prefix" value="/~core/"/>  
        <property name="suffix" value=".jsp"/>
        <property name="cacheable" value="false" />  
	</bean>

	<bean id="templateEngine" class="org.thymeleaf.spring3.SpringTemplateEngine">
		<property name="templateResolver" ref="templateResolver1"></property>
		<property name="additionalDialects">
			<set>
				<bean class="com.nube.portal.engines.js.JsFileDialect" />
			</set>
		</property>
	</bean>
	
	<bean id="viewResolver" class="org.thymeleaf.spring3.view.ThymeleafViewResolver">
		<property name="templateEngine" ref="templateEngine"/> 
	</bean>
	
	-->  
  
</beans>